<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

  <targets>
    <target xsi:type="File"
            name="logfile"
            layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${logger}|${message}${when:when=length('${exception}') > 0:inner=|${exception:format=tostring}${newline}${exception:format=Data}${newline}}"
            fileName="${basedir}/logs/${shortdate}.log"
            archiveAboveSize="10240000"
            keepFileOpen="false"
            encoding="utf-8"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>