<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="DevvilleDataService" path="Data.Service" verb="*" type="Devville.DataService.DataServiceHandler, Devville.DataService, Version=1.4.0.0, Culture=neutral, PublicKeyToken=f2a446872944a99a" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="Devville.DataService:DllsPatterns" value="*.dll"/>
  </appSettings>
</configuration>